*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: white;
}

#logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

h1{
    color: #001632;
    display: inline;
    font-size: 25px;
}

main{
    margin: 25px 50px;
    background-color: white;
    padding: 25px 50px;
}

.task-button{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid grey;
}

.blue{
    background-color: hsl(202.6deg 79.38% 61.96%);
}

