*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: white;
}

#logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

h1{
    color: #001632;
    display: inline;
    font-size: 25px;
}

h3{
    display: inline-block;
    margin-top: 15px;
    font-size: small;
}

main{
    margin: 25px 50px;
    background-color: white;
    padding: 25px 50px;
}

.task-button{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid grey;
}

.blue{
    background-color: hsl(202.6deg 79.38% 61.96%);
}

.line-height{
    line-height: 20px;
}
.top-margin{
   margin-top: 35px;
   font-size: 20px;
}

.done{
    display: inline-block;
    color: hsl(165.33deg 41.67% 57.65%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid hsl(165.33deg 41.67% 57.65%);
    text-align: center;
    vertical-align: middle;
}


.notification-button{
    height: 25px;
    width: 80px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid grey;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: smaller;
}